<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThinkforgeAI</title>
</head>
<body>
    <h1>Welcome to ThinkforgeAI</h1>
    <p>Current date and time (UTC): {{ date }}</p>
</body>
</html>
